body {
	font-family: 'KoHo', sans-serif;
	background-color: #76d275;
	margin: 0;
}

input {
	font-family: inherit;
}

button {
	font-family: inherit;
	font-size: 16px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 12px;
	border: none;
}

.shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.clickable {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.clickable:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.block {
	padding: 16px;
	margin: 16px;
	background-color: white;
}

.block2 {
	padding: 8px;
	margin: 8px;
}

.product {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.red {
	background-color: lightsalmon;
	color: black;
}

.green {
	background-color: greenyellow;
	color: black;
}

.gray {
	background-color: yellow;
	color: black;
}

.gray2 {
	background-color: #76d275;
	color: black;
}

#boardCanvas {
	background-color: greenyellow;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#app {
	width: 92%;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	margin: auto;
}

input[type="range"] {
	width: 100%;
}