<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Opinie bez logowania</title>
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="resources/style.css">
    </head>

    <body>
        <div class="shadow green" style="padding: 16px; font-size: 32px; text-align: center;">
            Opinie bez logowania
        </div>

        <div class="block shadow" style="font-size: 20px;">
            Tutaj możesz znaleźć informacje o produktach pozostawione przez naszych użytkowników.
            Jeśli masz jakiś produkt i chciałbyś się podzielić swoimi wrażeniami, nie krępuj się!
        </div>

        <div id="app" class="block shadow" style="max-width: 1200px;">

            <div class="block shadow">
                <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
                    <div class="block2 shadow green" style="flex: 2; text-align: center;">Tryb administratora</div>
                    <div @click="adminMode = !adminMode" class="block2 shadow clickable" style="flex: 1; text-align: center;">
                        <span v-if="adminMode" style="color: green; font-weight: bold;">On</span>
                        <span v-else>Off</span>
                    </div>
                </div>

                <div v-if="adminMode">
                    <div v-if="!showAddNewProduct">
                        <div @click="showAddNewProduct = !showAddNewProduct" class="block2 shadow gray clickable" style="text-align: center;">Dodaj nowy produkt</div>
                    </div>
                    <div v-else>
                        <div @click="showAddNewProduct = !showAddNewProduct" class="block2 shadow red clickable" style="text-align: center;">Powrót do strony głównej</div>
                    </div>
                </div>
            </div>

            
            <div v-if="adminMode && showAddNewProduct">
                <div v-if="showAddNewProduct">
                    <add-new-product></add-new-product>
                </div>
            </div>

            <div v-else>
                
                <div v-if="selectedProduct === null">
                    <search-page @product-selected="onProductSelected($event)"></search-page>
                </div>
                <div v-else>
                    <div class="block shadow green clickable" @click="selectedProduct = null" style="cursor: pointer;">← Powrót do poszukiwań</div>
                    <div v-if="adminMode">
                        <admin-product-page @product-deleted="onProductDeleted($event)" :productid="selectedProduct"></admin-product-page>
                    </div>
                    <div v-else>
                        <user-product-page :productid="selectedProduct"></user-product-page>
                    </div>
                </div>

            </div>

            
        </div>

        <div class="block shadow">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel diam vitae lacus interdum venenatis id sit amet dolor. Donec euismod, magna eu pharetra tempor, sapien risus venenatis lorem, aliquam malesuada metus est sed dui. Duis pretium tellus sed nisi bibendum, eu molestie quam placerat. Quisque urna neque, sodales gravida tristique eu, sodales quis nibh. Cras orci lectus, sagittis ut justo sed, pellentesque facilisis purus. Nullam aliquet risus nec tempus condimentum. Phasellus accumsan ultricies nibh ut interdum. Curabitur quis laoreet urna, id gravida sapien. Vestibulum ante lectus, bibendum aliquam mauris et, tristique consectetur est. Cras tempor lectus et sem ornare, at fringilla turpis tincidunt.
            Fusce tortor tortor, eleifend cursus aliquam sed, luctus vitae nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ultrices aliquam justo sit amet gravida. Proin eget urna a mauris placerat consequat a eget turpis. Sed egestas nibh iaculis quam eleifend feugiat. Vestibulum vestibulum erat vitae tellus euismod, et lacinia nulla lobortis. Nulla facilisi. Suspendisse gravida condimentum neque at laoreet. Nulla facilisi.
            Sed tincidunt dictum tortor at dictum. Phasellus ut eros nibh. Quisque aliquet magna non vulputate euismod. Aliquam non metus laoreet, viverra ligula vitae, lobortis ligula. Maecenas ac ultricies justo. Donec dignissim consequat nulla eget efficitur. Vestibulum a elementum turpis. Donec at dui purus. Sed molestie est sit amet augue convallis luctus. Curabitur erat nibh, imperdiet eget placerat nec, suscipit at sem. Sed imperdiet luctus tellus, eget facilisis nunc vulputate id. Proin efficitur ultrices velit in molestie.
            Donec posuere tortor laoreet porttitor suscipit. Proin aliquet justo in tellus lobortis, quis rutrum risus interdum. Phasellus pulvinar consectetur venenatis. Sed justo justo, posuere ut rutrum ac, maximus vitae velit. Morbi convallis imperdiet est sed hendrerit. Maecenas commodo, ipsum et finibus mollis, odio sapien viverra dui, sed faucibus nunc sem at dui. Cras vitae efficitur enim, in ullamcorper ante. Mauris ultricies placerat odio. Cras fringilla faucibus accumsan. Donec vel aliquet diam. Quisque posuere erat ac ultrices imperdiet.
            In aliquam mollis leo, vitae bibendum risus rhoncus eget. Vivamus a aliquet quam, nec consectetur arcu. Sed suscipit bibendum lobortis. Phasellus sit amet metus feugiat, volutpat mauris vitae, bibendum elit. Vivamus ornare placerat nunc vitae vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at commodo tellus, quis laoreet dolor.
            Donec tempus metus ex, at condimentum nunc tempor sit amet. Donec tristique euismod ullamcorper. Proin ullamcorper cursus viverra. Ut vestibulum tincidunt vestibulum. Sed accumsan lacinia luctus. Sed venenatis, neque sit amet lobortis sodales, nibh neque bibendum tellus, id hendrerit elit lacus ut ligula. In iaculis mauris in nunc finibus viverra.
            Donec egestas mi vehicula, tincidunt tortor eu, lacinia quam. Nam consequat enim eget tortor ullamcorper cursus. Nam accumsan odio sem, in suscipit magna varius sed. Maecenas congue ex at dapibus tempor. Integer tempor pretium augue, eu cursus libero suscipit et. Nunc vitae lorem eu tortor vehicula elementum. Fusce a tortor rhoncus, consectetur purus in, rutrum est.
        </div>

    </body>

    <script type="text/x-template" id="user-product-page-template">
        <div>
            <div class="block shadow gray" style="margin-top: 64px;">Opis produktu</div>
            <div v-if="productData != null" class="block shadow">
                <div class="shadow block gray2">{{ productData.productname }}</div>
                <div class="shadow block">Sugerowana cena detaliczna: <b>{{ productData.msrp }}</b> PLN</div>
                <div class="shadow block">{{ productData.shortdescription }}</div>
                <div class="shadow block">{{ productData.longdescription }}</div>
            </div>

            <div v-if="commentSent == false">
                <div class="block shadow gray" style="margin-top: 64px;">Dodaj swój komentarz</div>
                <div class="shadow block">
                    <textarea v-model="newCommentContent" rows="4" class="block shadow" style="width: 80%; resize: none;"></textarea>
                    <div class="block shadow green clickable" @click="sendComment" style="width: 40%; text-align: center; cursor: pointer;">Wyślij komentarz</div>
                </div>
            </div>
            <div v-else>
                <div class="block shadow gray">Komentarz został wysłany! Dziękujemy za twoją pomoc!</div>
            </div>

            <div v-if="productComments != null">
                <div class="block shadow gray" style="margin-top: 64px;">Komentarze</div>
                <div class="shadow block">
                    <div v-for="item in productComments">                        
                        <div v-if="item.accepted === true" class="block2 shadow">
                            <div class="block2">Dodany: {{ timestampToString(item.creationdate) }}</div>
                            <div class="shadow block2 gray2">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </script>


    <script type="text/x-template" id="admin-product-page-template">
        <div>
            <div class="block shadow gray" style="margin-top: 64px;">Opis produktu</div>
            <div v-if="productData != null" class="block shadow">
                <div class="shadow block gray2">Nazwa produktu</div>
                <input v-model="productData.productname" type="text" placeholder="nazwa produktu" class="block shadow" style="width: 90%"/>

                <div class="shadow block gray2">Sugerowana cena detailczna</div>
                <input v-model.number="productData.msrp" type="number" placeholder="sugerowana cena detaliczna" class="block shadow" style="width: 90%"/>

                <div class="shadow block gray2">Krótki opis</div>
                <textarea v-model="productData.shortdescription" rows="4" class="block shadow" style="width: 80%; resize: none;"></textarea>

                <div class="shadow block gray2">Długi opis</div>
                <textarea v-model="productData.longdescription" rows="4" class="block shadow" style="width: 80%; resize: none;"></textarea>
            </div>

            <div class="block shadow green clickable" @click="updateProduct" style="width: 40%; text-align: center;">Aktualizuj produkt</div>
            <div class="block shadow red clickable" @click="deleteProduct" style="width: 40%; text-align: center;">Usuń produkt</div>

            <div v-if="productComments != null">
                <div class="block shadow gray" style="margin-top: 64px;">Komentarze</div>
                <div class="shadow block">
                    <div v-for="(item, index) in productComments">
                        <div class="block2 shadow">
                            <div class="block2">Dodany: {{ timestampToString(item.creationdate) }}</div>
                            <div class="shadow block2 gray2">{{ item.content }}</div>
                            
                            <div @click="deleteComment(index)" class="block2 shadow red clickable" style="width: 40%; text-align: center;">Usuń ten komentarz</div>
                            
                            <div v-if="item.accepted === false">
                                <div @click="acceptComment(index)" class="block2 shadow gray clickable" style="width: 40%; text-align: center;">Zaakceptuj komentarz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </script>

    <script type="text/x-template" id="add-new-product-template">
        <div>
            <div class="block shadow gray">Dodaj nowy produkt</div>

            <div class="block shadow">
                <div class="shadow block gray2">Nazwa produktu</div>
                <input v-model="newProductData.productname" type="text" placeholder="nazwa produktu" class="block shadow" style="width: 90%"/>

                <div class="shadow block gray2">Sugerowana cena detailczna</div>
                <input v-model.number="newProductData.msrp" type="number" placeholder="sugerowana cena detaliczna" class="block shadow" style="width: 90%"/>

                <div class="shadow block gray2">Krótki opis</div>
                <textarea v-model="newProductData.shortdescription" rows="4" class="block shadow" style="width: 80%; resize: none;"></textarea>

                <div class="shadow block gray2">Długi opis</div>
                <textarea v-model="newProductData.longdescription" rows="4" class="block shadow" style="width: 80%; resize: none;"></textarea>

                <div v-if="newProductAdded == false">
                    <div class="block shadow green clickable" @click="addNewProduct" style="width: 40%; text-align: center; cursor: pointer;">Dodaj produkt</div>
                </div>
                <div v-else>
                    <div class="block shadow green clickable" @click="resert" style="width: 40%; text-align: center; cursor: pointer;">Produkt został dodany - klinkij aby wyczyścić</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="search-page-template">
        <div>

            <div class="block shadow">
                <div class="block2 shadow green">
                    Napisz coś poniżej, żeby znaleść interesujące produkty
                </div>
                <div class="block2">
                    Interesuje mnie: <input class="block2 shadow" placeholder="galaxy tab" type="text" v-model="searchQuery" @input="search()" style="width: 50%"/><br>
                </div>
            </div>

            <div class="block shadow">
                <b>Wyniki wyszukiwania</b><br>
                Kliknij na produkt aby zobaczyć więcej informacji<br><br>

                <div class="shadow block2 red" v-if="searchArray.length === 0">
                    Nie udało się znaleść pasujących produktów, spróbuj wpisać coś innego.
                </div>
                <div v-else>
                    <div class="product">
                        <div class="shadow block2 gray" style="display: flex; flex: 3;">Nazwa produktu</div>
                        <div class="shadow block2 gray" style="display: flex; flex: 8;">Krótki opis</div>
                        <div class="shadow block2 gray" style="display: flex; flex: 2;">Sugerowana cena</div>
                    </div>
                    <div v-for="item in searchArray">
    
                        <div class="product" @click='$emit("productSelected", item.id)' style="cursor: pointer;">
                            <div class="shadow block2 clickable" style="display: flex; flex: 3;">{{ item.productname }}</div>
                            <div class="shadow block2 clickable" style="display: flex; flex: 8;">{{ item.shortdescription }}</div>
                            <div class="shadow block2 clickable" style="display: flex; flex: 2;">{{ item.msrp }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="resources/app.js"></script>
</html>